body {
    margin: 0;
}
.navbar {
    background: white;
    padding: .5em;
    .container {
        display: flex;
        place-content: space-between;
    }

}

.hero {
    .heading {
        img {
            width: 18em;
            padding: 0 3em 4em 4em;
        }
        h2 {
            width: 60%;
        }
        display: flex;
        place-content: space-between;
    }
    .my-work {
        text-align: center;
    }
    .container {
        display: block;
        background-color: lightcyan;
        padding: 3em 4em;
        border: 2px solid red;
        
    }
    .skills {
        padding: 0 m;
        display: flex;
        place-content: space-between;
    }
}

footer {
    text-align: center;
    background-color: dimgray;
    padding: 3em 5em;
}